@import 'utility';

$base-text-size: 16px;
$base-font-family: sans-serif;

html {
  @include full-height;
}

body {
  margin: 20px;
  font: $base-text-size / 1 $base-font-family;
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(3, 3fr);
  grid-template-rows: minmax repeat(100px, 1fr);
  grid-gap: 5px;
}

.wrapper div {
  background-color: rgb(224, 109, 25);
  padding: 5px;
  color: white;
}

.square {
  border: 1px solid black;
  width: 40px;
  height: 40px;
}

.status {
  margin-bottom: 10px;
}
